<body class = "welcome">
 </br>
 </br>
 </br>
</br>
 <div class = "row">
  <div class = large-3 columns>
 <p class = "welcome-link"><%=link_to "Puppysit Me!", requests_path%></p>
 </div>
 <div class = large-9 columns>
 </div>
 </div>
 <div class = "row">
 <div class = large-5 columns>
 <p class = "welcome-link"><%= link_to " I need my own puppysitter!", new_request_path%></p>
 </div>
 <div class = "large-5 columns">
 </div>
</div>
</body>
