<!DOCTYPE html>
<html>
  <head>
    <meta content= 'text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Dear <%= @user.first_name %>
    </p>
    <p>
      The request you have made to find a babysitter for <%= @request.dog_name%> has been granted by

      Best,
            The Puppy Sitter Team
    </p>
  </body>
</html>
