<ul>
<% @requests.each do |request| %>
<li><img src = "<%= request.photo%>" width = "50px" height: "50px"><%= link_to request.dog_name, request_path(request) %><%= request.start_time%></li>
</br>
<%end%>
</ul>
<%= link_to "Submit your Request", new_request_path %>
