<!DOCTYPE html>
<html>
  <head>
    <meta content= 'text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Dear <%= @user.first_name %>
    </p>
    <p>
      A new review of your services has just been posted. Feel free to check it out at <%= @url %>
</p>
<p>
      Thank you for using Puppy Sitter and we look forward to interacting with you in the future.
</p>
    <p>  Best,
            The Puppy Sitter Team
    </p>
  </body>
</html>
